body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: azure;
    margin: 5px;
    font-size: 1.5vw;
}

h1 {
    margin: 10px 5px;
    padding: 5px;
    font-size: 20px;
}

cite > a {
    display: inline-block;
    width: 50px;
    height: 20px;
}

#logo {
    margin: 2px;
    padding: 2px;
    font-family: "Fredoka One, sans-serif";
    width: 20%;
    border-radius: 25%;
}

ul {
    margin: 1px;
}

body > header {
    background-color: orange;
    color: white;
    display: flex;
    height: 12vh;
    justify-content: space-around;
    align-items: center;
}

#nav-ul {
    display: flex;
    padding: 1vw
}

#nav-ul > li {
    padding: 10px;
    margin: 16px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10%;
}

body > main > article {
    width: 85%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around
}

#main-content > div{
    width: 70%
}

body > footer {
    background-color: orange;
    display: flex;
}

#footer-ul {
    display: flex;
}

#footer-ul > div > ul > li {
    margin-left: 11px;
}

#footer-ul > div > ul > li > a {
    color: white;
    text-decoration: none;
}
